<%= form_with model: [:business_manager, :settings, location] do |form| %>
  <% if location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
        <% location.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city %>
  </div>

  <div class="field">
    <%= form.label :state %>
    <%= form.text_field :state %>
  </div>

  <div class="field">
    <%= form.label :zip %>
    <%= form.text_field :zip %>
  </div>

  <%# Assuming hours is a JSON structure %>
  <div class="field">
    <%= form.label :hours %>
    <% 
      # Parse the hours value properly to avoid accumulating escape characters
      hours_value = if location.hours.is_a?(String)
                      # If it's already a string, use it directly
                      location.hours
                    elsif location.hours.is_a?(Hash) 
                      # If it's a hash, convert to JSON
                      location.hours.to_json
                    else
                      # Default empty object
                      '{}'
                    end
    %>
    <%= form.text_area :hours, value: hours_value, rows: 10, cols: 80 %>
  </div>
  
  <% if location == @business.default_location %>
    <div class="field mt-4">
      <%= check_box_tag :sync_to_business, '1', true %>
      <%= label_tag :sync_to_business, "Update business information with these changes" %>
      <p class="text-gray-500 text-xs">When checked, your business address and hours will be updated with this location's information.</p>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %> 