<h1>Edit Integration Credentials</h1>

<% if @integration_credentials.any? %>
  <%= form_with url: update_credentials_business_manager_settings_integration_credentials_path, method: :patch do |form| %>
    <% @integration_credentials.each do |credential| %>
      <div>
        <h3><%= credential.provider&.humanize %></h3>
        <%# Assuming config is a JSON structure %>
        <%= form.label "config_#{credential.id}", "Config (JSON)" %>
        <%# Using text_area for JSON input %>
        <%= text_area_tag "integration_credentials[#{credential.id}][config]", credential.config.to_json.html_safe, rows: 10, cols: 80 %>
        <%= hidden_field_tag "integration_credentials[#{credential.id}][id]", credential.id %>
      </div>
    <% end %>

    <div class="actions">
      <%= form.submit 'Update Credentials' %>
    </div>
  <% end %>
<% else %>
  <p>No integration credentials found for this business.</p>
<% end %>

<%= link_to 'Back to Notification Settings', business_manager_settings_notifications_path %> 